<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00pm - 1:15pm</td>        <!-- time    -->
        <td><a href="https://bkmgit.github.io/LambdaNative-and-FDroid/">Jargon Busting</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:15pm - 1:30pm</td>        <!-- time    -->
        <td><a href="https://bkmgit.github.io/LambdaNative-and-FDroid/">Introduction to F-Droid and installing an app</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>1:30pm - 2:00pm</td>        <!-- time    -->
        <td><a href="https://bkmgit.github.io/LambdaNative-and-FDroid/">Introduction to scheme</a></td>        <!-- content -->
      </tr>      
      <tr>               <!-- row 5   -->
        <td>2:00pm-3:00pm</td>        <!-- time    -->
	<td><a href="https://github.com/AgoeZero/tomato">Tomato Leaf Detection using a Mobile Phone</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00pm-2:00pm</td>        <!-- time    -->
        <td>Introduction to Neural Networks for data Classification</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:00pm-3:00pm</td>        <!-- time    -->
        <td>Create a AI powered Mobile Image Classification program with LambdaNative</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
